body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 0%;
    background-color: aqua;
}

header, footer, section{
    margin:20px;
    padding: 20%;
    background-color: #fff;

}

ol {
    list-style-type: disc;
}

h1, h2{
    color: #333;
}

ul{
    list-style-type: none;
        padding: 0%;
}

li{
    margin-bottom: auto;
}

/* Add this style rule for the button */
#changeColorBtn {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    border: none; 
    border-radius: 5px; 
}

#changeColorBtn:hover {
    background-color: #45a049; 
}